// Reset y configuración global
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Estilos para el contenido principal
main {
    margin: 1rem;
    grid-area: main;
    padding: 20px;
    color: white;

    h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    h3 {
        color: black;
        margin: 20px;
        background-color: white;
        padding: 20px;
        border: 2px solid black;
        border-radius: 15rem;
        animation-duration: 5s;
        animation-timing-function:ease-in;
        animation-iteration-count:max(10);
        }
    p {
        line-height: 1.6;
        padding: 10px;
    }

    .lista {
        position: static;
        top: 0;
        padding: 20px;
        margin: 20px;
    }

    h4 {
        text-decoration: underline;
        font-size: 1.5rem;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}
