/* Reset y configuración global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Configuración de Grid */
body {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image:url(../imagenes/general/fondo.jpg);
}

/* Estilos para el encabezado */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 164, 98, 0.728);
    color: black;
    padding: 10px;
}

header img {
    height: 120px;
}

header h1 {
    font-size: 2.5rem;
    margin-left: 10px;
}

/* Estilos para la navegación */
.navegacion {
    position: sticky;
    top: 0;
    background-color: rgba(183, 145, 95, 0.258);
    padding: 20px;
}

.navegacion ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navegacion li {
    margin: 0 10px;
    padding: 10px;
}

.receta-link {
    padding: 10px 20px;
    color:black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(183, 145, 95, 0.258);
}
.receta-link:hover {
    background-color: black;
    color: white;
}

/* Estilos para el contenido principal */
main {
    margin: 1rem;
    grid-area: main;
    padding: 20px;
    color: white;
}
main h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
main h3{
    color: black;
    margin: 20px;   
    background-color:white;
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 15rem;
}
main p {
    line-height: 1.6;
    padding: 10px;
}
.lista {
    position: static;
    top: 0;
    padding: 20px;
    margin: 20px;
}
h4{ 
    text-decoration:underline;
    font-size: 1.5rem;
}
/* Estilos para el pie de página */
footer {
    grid-area: footer;
    background-color: rgba(215, 164, 98, 0.728);
    color: black;
    padding: 10px;
    text-align: center;
}

/* Media queries */
@media only screen and (max-width: 960px) {
    header h1 {
        font-size: 2rem;
    }

    .receta-link {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .carousel-item img {
        height: 300px; /* Ajustar tamaño de imágenes para dispositivos más pequeños */
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 961px) {
    body {
        background-color: orange;
    }
}